main {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  aside {
    width: 40%;
    max-width: 205px;
    border: solid 1px #eee;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    .logo {
      display: flex;
      align-items: center;
      align-content: center;
      border-bottom: solid 1px #eee;
      padding: 4px 4px 4px 13px;
      & h3 {
        font-size: 1em;
      }
      & img {
        width: 30px;
        height: 30px;
      }
    }
    ul {
      padding: 8px 12px;
      & li {
        font-size: 0.8em;
        list-style: none;
        padding: 4px;
        & a {
          color: #00c8ff;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.other-section-wrapper {
  & > * {
    margin-bottom: 12px;
    border-bottom: solid 1px #eee;
    padding-bottom: 24px;

    & h3 {
      padding-bottom: 12px;
    }
  }
}

li {
  font-size: 0.8em;
  list-style: none;
}
