.react-ui-button {
  &:default {
  }

  &:active {
  }

  &:disabled {
    background-color: #5a6268;
  }

  &:hover {
    opacity: 0.7;
  }
}

.danger {
  background-color: #c82333;
}

.warning {
  background-color: #e0a800;
}

.success {
  background-color: #218838;
}

.btn-tooltip {
}
